= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  %p.field
    = f.label :title
    %br/
    = f.text_field :title
  %p.field
    = f.label :description
    %br/
    = f.text_area :description
  %p.field
    = f.label :url, "URL"
    %br/
    = f.url_field :url
  %p.actions
    = f.submit "Update", class: "btn btn-primary btn-default"
