%h2 Welcome to r/#{@subreddit.name}
%p= @subreddit.description
.col-md-11
  = render @posts

.col-md-1
  - if user_signed_in?
    %p= link_to 'New Post', new_post_path(@subreddit.id), class: "btn btn-primary"
    - if current_user.subscribed?(@subreddit)
      %p= link_to 'Unsubscribe', subreddit_unsubscribe_path(@subreddit), class: "btn btn-primary"
    - else
      %p= link_to 'Subscribe', subreddit_subscribe_path(@subreddit), class: "btn btn-primary"

  %h4 Mods:
  %ul
    - @subreddit.moderators.each do |mod|
      %li= mod.username
