%body
  %header
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "/"}= image_tag("snoo.jpg", width: 24, height: 24)
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Menu
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              - if user_signed_in?
                %li
                  = link_to "Sign out #{current_user.email}", destroy_user_session_path, :method => :delete
                %li.divider
                %li= link_to 'My subreddits', "#"
                %li= link_to 'My comments', "#"
              - else
                = link_to "Log in", new_user_session_path
